<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" target="_self">
            <img src="{{ url_for('static', filename='lol_skins.png') }}" alt="LOL Skins" class="logo">
        </a>
    </header>
    <div class="container">
        <h1>Error</h1>
        <p>{{ message }}</p>
    </div>
</body>
</html>
